<h2>Search authors</h2>
<form action="/authors" method="get">
  <label for="name">Name</label>
  <input type="text" name="name" value="<%= searchOptions %> ">
  <button type="submit">Search</button>
</form>
<br><br>
<% authors.map((author)=>{
%>
<div><%= author.name %></div>
<%
}) %> 
